Ai News Summarizer2.json
{
  "name": "Ai News Summarizer2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 30,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        240
      ],
      "id": "f337bb0d-a33f-460e-9d33-580512c473e6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.normaltech.ai/feed",
        "options": {
          "customFields": ""
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -528,
        48
      ],
      "id": "0b187db8-cfd6-495c-9ae7-d1ec087ac60f",
      "name": "NormalTech"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -528,
        240
      ],
      "id": "d13b92f9-5e13-4dca-8bb9-22b83c9bbc2a",
      "name": "AIBusiness"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -80,
        240
      ],
      "id": "0b5ba1f3-132e-4347-9e77-b61a0b62dd61",
      "name": "Aggregate All Item Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI newsletter assistant creating a daily intelligence report.\nAnalyze RSS feeds and event data to create:\n\nAI NEWS HIGHLIGHTS\n\n[5 most important AI developments]\n\nTECHNOLOGY UPDATES\n==================\n[Latest tech developments]\n\nUPCOMING AI EVENTS\n\n[List events with date, location, description]\nIf no events found: \"No AI events scheduled this week\"\n\nFormat each news item:\n- Headline in ALL CAPS\n- 2-3 sentence summary\n- Article link\n\nSign off as \"Your AI Intelligence Team\"\n\n{{ $json.data }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        144,
        240
      ],
      "id": "7abed359-c8b7-4f63-8954-53c2309d9e4e",
      "name": "Summarizing News Articles"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -304,
        240
      ],
      "id": "74716dc7-a16d-44af-8b53-ad6853802aee",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        216,
        464
      ],
      "id": "0b7f0e9b-42dc-410b-a3f5-39dd0e264d86",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qI0pFmSFaEGYg2bN",
          "name": "Google Gemini(PaLM) Api account 8617"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "bhagathkumarbejugam@gmail.com",
        "subject": "Recent Ai Updates",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        240
      ],
      "id": "5abcdfef-ee0c-4790-902f-20a240c428bf",
      "name": "Send a message",
      "webhookId": "c7343927-8534-4771-b66b-33618f37fe9e",
      "credentials": {
        "gmailOAuth2": {
          "id": "MhOb4pKsGM9rgWCZ",
          "name": "Gmail account 2358"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI Tech Events in india"
            },
            {
              "name": "engine",
              "value": "google_events"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        432
      ],
      "id": "0bbb807b-0fba-4907-8a04-7bcb99f65979",
      "name": "Fetch Events",
      "credentials": {
        "serpApi": {
          "id": "vTkSKNZAuUAV2vdx",
          "name": "SerpAPI account 936"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "NormalTech",
            "type": "main",
            "index": 0
          },
          {
            "node": "AIBusiness",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NormalTech": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AIBusiness": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate All Item Data": {
      "main": [
        [
          {
            "node": "Summarizing News Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarizing News Articles": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate All Item Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarizing News Articles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Events": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a6160496-8daf-4602-a182-ed52adfc52d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "uDfnE4H7xc05GIAo",
  "tags": []
}